{{- $debug := false }}
{{- $backlinks := site.Home.Store.Get "backlinks" | uniq  }}
{{- with (where $backlinks "target" .RelPermalink) }}
  <div class="backlinks">
    <details class="backlinks-title">
      <summary>{{ T "backlinks_title" }}</summary>
      <ol>
        {{- range (sort . "source.linkTitle" "asc") }}
          <li><a href="{{ .source.relPermalink }}">{{ .source.linkTitle }}</a></li>
        {{- end }}
      </ol>
    </details>
  </div>
{{- end }}
{{- if $debug }}
  <pre>{{ jsonify (dict "indent" "  ") $backlinks }}</pre>
{{- end }}
