{{- if (.Param "ShowBreadCrumbs") -}}

    {{- $url := replace .Parent.Permalink (printf "%s" site.Home.Permalink) "" }}
    {{- $lang_url := strings.TrimPrefix (printf "%s/" .Lang) $url -}}


    {{- $scratch := newScratch }}
    {{- range $index, $element := split $lang_url "/" }}

    {{- $scratch.Add "path" (printf "%s/" $element )}}
    {{- $bc_pg := site.GetPage ($scratch.Get "path") -}}

    {{- if (and ($bc_pg) (gt (len . ) 0))}}
	<div class="breadcrumbs">
	    <a href="{{ "" | absLangURL }}"><svg width="28" height="28" viewBox="0 0 10.5 10.5" fill="none" xmlns="http://www.w3.org/2000/svg"><g stroke-width="0"/><g stroke-linecap="round" stroke-linejoin="round"/><path d="M2.625 5.25h5.25m-5.25 0 2.188 -2.188M2.625 5.25l2.188 2.188" stroke="currentColor" stroke-width="0.875" stroke-linecap="round" stroke-linejoin="round"/></svg></a>
   <a href="{{ $bc_pg.Permalink }}">{{ $bc_pg.Name }}</a>
	</div>
    {{- end }}

    {{- end -}}

{{- end -}}
