{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ if eq .URL "/posts/" }}文章{{ else }}{{ .Title }}{{ end }}</h1>
{{ end }}
{{ .Content }} 

{{- $pages := where .Data.Pages "Section" "!=" "" }}
  {{- range $pages.GroupByPublishDate "2006"  }}
  <section class="archive-group">
    <div class="archive-group-title">
      <h2 class="archive-year">{{ .Key }}<sup class="archive-count">&nbsp;{{ len .Pages }}</sup></h2>
    </div>
    {{- range .Pages }}
    <div class="archive-post">
      <time datetime="{{ .Date.Format " 2006-01-02" }}" class="archive-post-time">
        {{ .Date | time.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}
      </time>
      <span class="archive-post-title">
        <a href="{{ .RelPermalink }}" class="archive-post-link">
          {{ .Title }}
        </a>
      </span>
    </div>
    {{- end }}
  </section>
  {{- end }}
{{ partial "footer.html" . }}
