.archive-posts {
    width: 100%;
    font-size: 16px;
}

.archive-year {
    position: relative;
    border-color: var(--border);
}
.archive-year:before{
    position: absolute;
    top: 0;
    left: 1.8rem;
    height: 100%;
    border-left: 2px solid;
    border-color: inherit;
    content: "";
    z-index: -1;

}
.archive-year:not(:last-of-type) {
    border-bottom: 0px solid var(--border);
}

.archive-label{
    display: block;
    padding-bottom: 10px;
}

.archive-year-header{
    background: var(--code-bg);
    margin-bottom:25px;
}
[data-theme=dark] .archive-year-header {
    background: var(--theme);
}
.archive-month {

    padding-left: 3rem;
    position: relative;
}

.archive-month-header {
    background-color: var(--tertiary);
    background-image: none;
    left: 1.8rem;
    padding: 3px 10px;
    border-radius: var(--radius);
    line-height: 2;
    transform: translate(-50%, -50%) scale(.75);
    margin-top: 20px;
    position: absolute;
}

.archive-month:not(:last-of-type) {
    border-bottom: 1px solid var(--border);
}

.archive-entry {
    position: relative;
    display: block;
    margin-left: 2rem;
    padding: .5rem 0;
    line-height: 2rem;
    transition: color .15s;
}

.archive-entry-title {
    font-weight:400;
}
.archive-entry-title:before {
    position: absolute;
    top: 1em;
    left: -3.2rem;
    content: "";
    opacity: .63;
    transform: translateY(-50%);
    display: inline-block;
    height: 2px;
    width: 3.2rem;
    background: var(--border);
    z-index: -1;

}
.archive-count,
.archive-meta {
    color: var(--secondary);
    font-size: 14px;
}

.archive-group{
    border-bottom: 2px solid var(--border);
    padding-bottom: 15px;
    margin-top: 20px;
}
.archive-group:last-of-type{
    border-bottom: 0px solid var(--border);
}