{{- define "main" }}

<article class="post-single status-single">
  <header class="post-header">
  {{- partial "breadcrumbs.html" . }}
  </header>

  {{- if .Content }}
  <div class="md-content status-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- end }}


  {{- if not (.Param "hideMeta") }}
  <div class="post-meta">
    {{- partial "post_meta.html" . -}}
  </div>
  {{- end }}
    
  <footer class="post-footer">
    <ul class="post-tags">
      {{- range ($.GetTerms "tags") }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{ partial "backlinks.html" . }}
  </footer>
</article>

{{- end }}{{/* end main */ -}}
