body {
  counter-reset: sidenote-counter;
}

.sidenote-number {
  counter-increment: sidenote-counter;
}
.sidenote-number::before {
  content: counter(sidenote-counter);;
  vertical-align: super;
  font-size: 0.8em;
  font-weight: 700;
}
.sidenote {
  float: right;
  position: relative;
  margin-right: -18vw;
  width: 40%;
  max-width: 200px;
  padding: 5px;
  border-radius: var(--radius);
}
.sidenote::before {
  content: counter(sidenote-counter);;
  position: relative;
  font-size: 0.9em;
  font-weight: 700;
  vertical-align: super;
  margin-right: 0.25rem
}

.sidenote-number:hover .sidenote {
  background-color: var(--code-bg);
}

@media (max-width: 960px) {
  .sidenote {
    float: none;
    clear: none;
    margin-right: 0;
  }
  .sidenote::before {
    content: " (";
    vertical-align:unset;
    font-size: 1em;
    font-weight: 400;
    margin-right:0;
  }
  .sidenote::after {
    content: ") ";
  } 
  .sidenote-number::before {
    display: none;
    vertical-align:unset;
  } 
} 

#ex-footnote {
  position: fixed;
  font-size: 0.9em;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  max-height: 25%;
}

#ex-popup-wrapper {
  display: none;
  grid-template-columns: auto 50px;
  grid-template-rows: minmax(0, 1fr);
  padding-top: 0;
  background-color: var(--theme);
  border-top: 2px solid var(--secondary);
  max-height: calc(25vh);
}

#ex-footer-content {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  padding-top: 1em;
  padding-bottom: 1em;
}

#ex-footer-close {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  font-size: 2em;
  cursor: pointer;
  align-items: center;
  justify-content: start; 
  display: flex;

  &:hover {
    color: var(--primary);
  }
  .inline-svg{
    background: var(--entry);
    width: 36px;
    height: 36px;
    align-items: center;
    display: flex;
    justify-content: center; 
    border-radius: 50%;
    box-shadow: 0 2px 4px rgb(5 10 15/5%),0 7px 13px -3px rgb(5 10 15/.3);
    transition: box-shadow .4s ease,transform .4s ease;
  }
  svg {vertical-align: middle;}
}

#popup-content {
  text-align: left;
  margin-left: $font-size-small;
  overflow-y: auto;

  p {
    margin: 0;
  }
}

#popup-index {
  padding: 0 0 0 1rem;
  flex-shrink: 0;
}