body {
  counter-reset: sidenote-counter;
}
.sidenote-number {
    display: none;
    @media (min-width: 960px) {
        display: inline;
        counter-increment: sidenote-counter;
    }   
}
.sidenote {
  float: right;
  position: relative;
  margin-right: -18vw;
  width: 40%;
  max-width: 200px;
  padding: 5px;
  border-radius: var(--radius);
}
.sidenote::before {
  content: counter(sidenote-counter);
  position: relative;
  font-size: 0.9em;
  font-weight: 700;
  vertical-align: super;
  margin-right: 0.25rem
}
.sidenote-number::after {
  content: counter(sidenote-counter);
  vertical-align: super;
  font-size: 0.8em;
  font-weight: 700;
}
.sidenote-number:hover .sidenote {
  background-color: var(--code-bg);
}

#ex-footnote {
  position: fixed;
  font-size: $font-size-small;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  max-height: 20%;
}

#ex-popup-wrapper {
  display: none;
  grid-template-columns: auto 50px;
  grid-template-rows: minmax(0, 1fr);
  padding-top: 0;
  background-color: var(--theme);
  border-top: 5px solid var(--primary);
  max-height: calc(20vh);
}

#ex-footer-content {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  padding-top: 1em;
  padding-bottom: 1em;
}

#ex-footer-close {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  font-size: 2em;
  cursor: pointer;

  &:hover {
    color: var(--primary);
  }
  svg {vertical-align: middle;}
}

#popup-content {
  text-align: left;
  margin-left: $font-size-small;
  overflow-y: auto;

  p {
    margin: 0;
  }
}

#popup-index {
  padding: 0 0 0 1rem;
  flex-shrink: 0;
}